    @import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");

    body {
      background-color: rgba(104, 50, 155, 0.514);
      margin: 10px;
    }

    .painel {
      max-width: 500px;
      height: 500px;
      margin: auto;
      text-align: center;
      background-color: white;
      box-shadow: 2px 2px 20px black;
      border-radius: 30px;
      margin-top: 20px;
      font-family: "Tiny5", sans-serif;
      /* background-color: rgba(104, 50, 155, 0.514); */
      border: 2px solid rgba(0, 0, 0, 0.658);
    }
    .painel {
  position: relative;
}
    #sim,
    #nao {
      background-color: hotpink;
      border-radius: 10px;
      font-size: 17px;
      color: rgb(68, 67, 67);
      font-family: "Tiny5", sans-serif;
      cursor: pointer;
      margin-left: -60px;
    }

    #nao {
      background-color: crimson;
      position: absolute;
      margin-left: 10px;
    }

    #sim:hover,
    #nao:hover {
      background-color: brown;
      transition: 0.8s;
    }